<div class="container">
  <br/>
  <h1>Pipes</h1>
  <hr/>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>

    </tr>
    </thead>
    <tbody>

    <tr>
      <td>{{ name }}</td>
      <td>uppercase</td>
      <td>{{ name | uppercase}}</td>
    </tr>

    <tr>
      <td>{{ name }}</td>
      <td>lowercase</td>
      <td>{{ name | lowercase}}</td>
    </tr>

    <tr>
      <td>{{ name }}</td>
      <td>slice:3</td>
      <td>{{ name | slice:3}}</td>
    </tr>

    <tr>
      <td>{{ name }}</td>
      <td>slice:0:3</td>
      <td>{{ name | slice:0:3}}</td>
    </tr>

    <tr>
      <td>{{ array }}</td>
      <td>slice:3:8</td>
      <td>{{ array | slice:3:8}}</td>
    </tr>

    <tr>
      <td>{{ PI }}</td>
      <td>number:'1.3-4'</td>
      <td>{{ PI | number:'1.3-4' }}</td>
    </tr>

    <tr>
      <td>{{ a }}</td>
      <td>percent</td>
      <td>{{ a | percent }}</td>
    </tr>

    <tr>
      <td>{{ a }}</td>
      <td>percent:'2.2-4'</td>
      <td>{{ a | percent:'2.2-4' }}</td>
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td>currency</td>
      <td>{{ salario | currency }}</td>
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td>currency:'EUR'</td>
      <td>{{ salario | currency:'EUR' }}</td>
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td>currency:'EUR':'symbol'</td>
      <td>{{ salario | currency:'EUR':'symbol' }}</td>
    </tr>

    <tr>
      <td>{{ salario }}</td>
      <td>currency:MXN:'code':'4.0-0'</td>
      <td>{{ salario | currency:'MXN':'code':'4.0-0' }}</td>
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td></td>
      <td>{{ fecha }}</td>
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td>date:'medium'</td>
      <td>{{ fecha | date:'medium' }}</td>
    </tr>

    <tr>
      <td>{{ name2 }}</td>
      <td>capitalizado</td>
      <td>{{ name2 | capitalizado }}</td>
    </tr>

    <tr>
      <td>
        <input (keyup)="changeDetectorRef.detectChanges()" type="text" value="hola"
               #passwordEntered/>
        <input type="checkbox" (change)="changeDetectorRef.detectChanges()" #maskPasswordEnabled>
      </td>
      <td>password:{{maskPasswordEnabled.checked}}</td>
      <td>{{ passwordEntered.value | password:maskPasswordEnabled.checked }}</td>
    </tr>


    </tbody>
  </table>

</div>

<hr/>
<h4>hero | json</h4>
<pre> {{ hero | json }}</pre>
<hr/>
<h4>hero | json</h4>
<pre> {{ hero | json }}</pre>
